/*fonts*/

/*The base font size is 16px and it HEX code is #ffffff
The body font family is Open Sans Light
The medium grey colour of the text in the footer is #c2c2c28*/

:root {
    --main-color: #ffffff;
    --main-font: 'Open Sans light';
    --main-size: 16px;
}














footer {

    color: #c2c2c2 ;

}



